# Konfigurasi Reader (untuk Select / Query)
DB_CORE_HOST=localhost
DB_CORE_PORT=3306
DB_CORE_USERNAME=hotel_writer_user
DB_CORE_PASSWORD=your_writer_password
DB_CORE_DATABASE=hotel_writer_db

# Konfigurasi Writer (untuk Insert, Update, Delete)
DB_GOOGLE_HOST=localhost
DB_GOOGLE_PORT=3306
DB_GOOGLE_USERNAME=hotel_reader_user
DB_GOOGLE_PASSWORD=your_reader_password
DB_GOOGLE_DATABASE=hotel_reader_db

# AWS SQS Configuration
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_SQS_SYNC_QUEUE_URL=your_queue
USE_SQS_MOCK=false

# Google Hotel ARI API Configuration
GOOGLE_HOTEL_ARI_URL=https://www.google.com

# Application Configuration
ADMIN_API_TOKEN=your_super_secret_admin_token_here
PORT=3000

# Rolling Horizon Configuration
# Number of months to sync ahead (default 3, max 12)
ROLLING_HORIZON_MONTHS=3